<!DOCTYPE html> <!-- Diretiva indicando para usar o HTML mais novo disponível pelo navegador-->
<html> <!-- Indica o início do documento HTML -->

<head> <!-- A tag head contém todas as tags de configuração da página-->
	<meta charset="UTF-8" /> <!-- configura a codificação de caracteres do navegador para o UTF-8--><meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="icones/cotebiz.ico" type="image/x-icon"> <!-- Adiciona o ícone de aba de navegador-->
	<title> 
	Plataforma de orçamento online - Cotebiz
	</title><!-- Adiciona o título na aba do navegador-->
	<link rel="stylesheet" href="css/site.css" />
	<link rel="stylesheet" href="css/forms.css" />

</head>

<body> <!-- A tag body contém o conteúdo que será mostrado ao usuário-->
	<header id="cabecalho"> <!-- Indica o cabeçalho do nosso documento-->
		<div class="logo">
		<a href="index.html">
            <img src="./imagens/cotebiz.png" alt="logo da faculdade impacta" /> <!-- anexa imagem e texto alternativo-->
		</a>
		</div>
		<nav> <!-- Indica que o conteúdo é composto de links de navegação-->
				<a href="#">Fornecedor</a>
				<a href="cotacao.html">Pedido de cotação</a>
			
		</nav>
	</header>
	<main>
	<!-- indica que é o conteúdo principal dessa página -->
	<a href="/logout/">Sair</a>
	</main>
<footer class="rodape">
		<a href="#cabecalho" class="topo">Topo</a>
		<ul class="navegacao">
			<li>
				<a href="https://www.facebook.com/cotebizbr/" class="media facebook" target="blank">
					Facebook
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/cotebiz/" class="media instagram" target="blank">
					Instagram
				</a>
			</li>
			
		</ul>
		<p>
			2019 DPx3 - GrupoOPE - Todos os direitos reservados.
		</p>
	</footer>
</body>

</html>