{% extends "pagina-modelo.html" %}

{% block content %}
<h1 class="text-left ">Adicionar Categoria</h1>
<form method="POST">{% csrf_token %}
    <div class="container ml-0 ">
        <div>
            <label for="id_categoria"><strong>Categoria:</strong></label>
            {{ form.categoria }}
        </div>
        
        <button type="submit" class="btn btn-primary m-2">
            Salvar
        </button>
        <a href="/cadastrar_fornecedor/">
            <button type="button" class="btn btn-danger m-2">
             Cancelar
            </button>
        </a>
    </div>
</form>
{% endblock %}
