<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digite a nova senha</title>
</head>
<body>
    <h1>Digite a nova senha</h1>
    <p>Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
    <form method="POST">{% csrf_token %}
       {{ form }}
        <input type="submit" value="Alterar minha senha">
    </form>
</body>
</html>