{% extends "pagina-modelo.html" %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/pedido.css" >
{% endblock %}
{% block content %}
<form action="submit" method="POST">{% csrf_token %}
    <h1 class="text-center ">Cadastro de  Pedido</h1>
    <div class="container">
        <div class="form-row">
            <div class="form-group col-md-2">
              <label for="Data">Data de Cadastro</label>
              <input type="date" class="form-control" name="data" autofocus required>
            </div>
            <div class="form-group col-md-2">
                <label for="N_pedido">Nº do Pedido</label>
                <input type="text" class="form-control" id="numero_do_pedido" name="numero_do_pedido" readonly/>
            </div>   
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="nome">Nome Fantasia</label>
            <input type="text" class="form-control" name="nome" required>
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="razao_social">Razão Social</label>
                <input type="text" class="form-control" name="razao_social" required>
            </div>
            <div class="form-group col-md-4">
                <label for="id_cnpj">CNPJ</label>
                <input type="text" class="form-control" name="cnpj" id="id_cnpj" required>
            </div>
            <div class="form-group col-md-3">
                <label for="plano">Tipo do Plano</label>
                <select name="plano" class="form-control" required>
                    <option value="">Selecione Uma Opção</option>
                    <option>P</option>
                    <option>M</option>
                    <option>G</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="id_cnpj">CEP</label>
                <input type="text" class="form-control" name="cep" id="id_cep" required>
            </div>
            <div class="form-group col-md-6">
                <label for="id_rua">Rua</label>
                <input type="text" class="form-control" name="rua" id="id_rua" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" name="bairro" id="id_bairro" required>
            </div>
            <div class="form-group col-md-5">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" name="cidade" id="id_cidade" required>
            </div>
            <div class="form-group col-md-2">
                <label for="numero">Nº</label>
                <input type="text" class="form-control" name="numero" required>
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" name="telefone" id="id_telefone">
            </div>
            <div class="form-group col-md-3">
                <label for="celular">Celular</label>
                <input type="text" class="form-control" name="celular" id="id_celular">
            </div>
            <div class="form-group col-md-7">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" required>
            </div>
        </div>
        
    </div>
    <div class="container ">
        <div class="botao">
            {% for message in messages %}
                <div class="alert alert-danger">
                    <strong> {{ message }} </strong>
                </div>
            {% endfor %}
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="numero_de_leilao">Nº de Leilão</label>
                <input type="text" class="form-control" id="numero_de_leilao" name="numero_de_leilao" readonly/>
            </div>
        </div>
        <hr>
        <div align="center" class="form-row bg-light" >
            
            <div class="form-group col-md-2">
                <label for="id_produto"><strong>Produto</strong></label>
                <ul class="remove form-row dynamic-list" id="produto_list">
                    <li class="list col-md-12"><input class="produto1 form-control col-md-12 " id="produto1" type="text" name="produto1" required></li>

                </ul>
            </div>
            <div class="space form-group col-md-2">
                <label for="id_categoria"><strong>Categoria</strong></label>
                <ul class="remove form-row categoria"  id="categoria_list">
                    <li class="list col-md-12"><input class="categoria1 form-control col-md-12" type="text" name="categoria1" id="categoria1" required></li>

                </ul>
            </div>
            <div class="space form-group col-md-2"  id="valor">
                <label for="id_valor_base"><strong>Valor Base</strong></label>
                <ul class="remove form-row valor-base"  id="valor_base_list">
                    <li class="list col-md-12"><input class="valor_base1 form-control col-md-12" type="text" name="valor_base1" id="valor_base1" required></li>
                </ul>
            </div>
            <div class="space form-group col-md-2"  >
                <label for="id_unidade_de_medida"><strong>Unidade</strong></label>
                <ul class="remove form-row unidade-medida" id="unidade_medida_list">
                    <li class="list col-md-12"><input class="unidade_medida1 form-control col-md-12" type="text" name="unidade_medida1" id="unidade_medida1" required></li>

                </ul>
            </div>
            <div class="space form-group col-md-1"  >
                <label for="id_quantidade"><strong>Qtd</strong></label>
                <ul class="remove form-row quantidade" id="quantidade_list">
                    <li class="list col-md-12"><input class="quantidade1 form-control col-md-12" type="text" name="quantidade1" id="quantidade1" required></li>

                </ul>
            </div>
            <div class="space form-group col-md-2"  >
                <label for="id_marca"><strong>Marca</strong></label>
                <ul class="remove form-row marca" id="marca_list">
                    <li class="list col-md-12"><input class="marca1 form-control col-md-12" type="text" name="marca1" id="marca1" required></li>

                </ul>
            </div>
            <div class="space form-group col-md-1"  align="center">
                <div class="espaco"></div>

                <button class="btn botao1" id="btn" type="button">
                    <img src="/static/imagens/addprod.png" alt="add" width="2rem">
                </button>
                <ul class="remove form-row excluir" id="excluir_list">
                    
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <button  class="btn btn-primary m-2" type="submit">Salvar</button>
            
                <a href="/listar_fornecedores/">
                    <button type="button" class="btn btn-danger m-2">
                        Cancelar
                    </button>
                </a>
            </div>
        </div>

</div>
</form>
{% endblock %}