{% extends "pagina_modelo.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/fornecedor.css' %}">
<h1 class="text-center">Detalhes dos Produtos Cotados</h1>
<div class="container ">
    
    <div class="form-row">
        <div class="form-group col-md-5">
            <h2>Nº Leilão</h2>
            <h3>{{ pedido.n_leilao }}</h3>
            <hr>
        </div>
        <div class="form-group col-md-5">
            <h2>Fornecedor</h2>
            <h3>{{ pedido.fornecedor }}</h3>
            <hr>
        </div>
        <div class="form-group col-md-12">
            <h2>Cotação do Produto</h2>
            <a href="{{ pedido.arquivo.url }}">Anexo</a>
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_1 }}

        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_2 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_3 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_4 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_5 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_6 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_7 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_8 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_9 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_10 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_11 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_12 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_13 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_14 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_15 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_16 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_17 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_18 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_19 }}
        </div>
        <div class="form-group col-md-12">
            {{ pedido.observacao_20 }}
        </div>

    </div>
</div>
{% endblock %}