{% extends "pagina-modelo.html" %}
{% block content %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/fornecedor.css">
{% endblock %}

<h1 class="text-center">Detalhes do Pedido</h1>
<div class="container ">
    <h2>Informações Básicas</h2>
    <hr>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label><strong>Numero do pedido:</strong></label>
            {{ pedido.n_pedido }}
        </div>
        <div class="form-group col-md-3">
            <label><strong>Nome Fantasia::</strong></label>
            {{ pedido.nome }}
        </div>
        <div class="form-group col-md-3">
            <label><strong>Razão Social:</strong></label>
            {{ pedido.razao_social }}
        </div>
        <div class="form-group col-md-3">
            <label><strong>CNPJ:</strong></label>
            {{ pedido.cnpj }}
        </div>
        <div class="form-group col-md-12">
            <h2>Tipo do Plano</h2>
            <hr>
        </div>
        <div class="form-group col-md-12">
            <label><strong>Tipo do Plano:</strong></label>
            {{ pedido.plano }}
        </div>
        <div class="form-group col-md-12">
            <h2>Localização</h2>
            <hr>
        </div>
        <div class="form-group col-md-3">
            <label><strong>CEP:</strong></label>
            {{ pedido.cep }}
        </div>
        <div class="form-group col-md-3">
            <label><strong>Rua:</strong></label>
            {{ pedido.rua }}
        </div>
        <div class="form-group col-md-3">
            <label><strong>Bairro:</strong></label>
            {{ pedido.bairro }}
        </div>
        <div class="form-group col-md-3">
            <label><strong>Cidade:</strong></label>
            {{ pedido.cidade }}
        </div>
        <div class="form-group col-md-3">
            <label><strong>Número:</strong></label>
            {{ pedido.numero }}
        </div>
        <div class="form-group col-md-12">
            <h2>Contato</h2>
            <hr>
        </div>
        <div class="form-group col-md-3">
            <label for="id_telefone"><strong>Telefone:</strong></label>
            {{ pedido.telefone }}
        </div>
        <div class="form-group col-md-3">
            <label for="id_celular"><strong>Celular:</strong></label>
            {{ pedido.celular }}
        </div>
        <div class="form-group col-md-3">
                <label for="id_email"><strong>Email:</strong></label>
            {{ pedido.email }}
        </div>
        <div class="form-group col-md-12">
            <h2>Itens do pedido</h2>
            <hr>
        </div>
        <div class="form-group col-md-12">
            <label for="id_email"><strong>Nº Leilão:</strong></label>
        {{ pedido.n_leilao }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 1:</strong></label>
        {{ pedido.produto1 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 1:</strong></label>
        {{ pedido.categoria1 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 1:</strong></label>
        {{ pedido.valor_base1 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 1:</strong></label>
        {{ pedido.unidade_medida1 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 1:</strong></label>
        {{ pedido.quantidade1 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 1:</strong></label>
        {{ pedido.marca1 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 2:</strong></label>
        {{ pedido.produto2 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 2:</strong></label>
        {{ pedido.categoria2 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 2:</strong></label>
        {{ pedido.valor_base2 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 2:</strong></label>
        {{ pedido.unidade_medida2 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 2:</strong></label>
        {{ pedido.quantidade2 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 2:</strong></label>
        {{ pedido.marca2 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 3:</strong></label>
        {{ pedido.produto3 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 3:</strong></label>
        {{ pedido.categoria3 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 3:</strong></label>
        {{ pedido.valor_base3 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 3:</strong></label>
        {{ pedido.unidade_medida3 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 3:</strong></label>
        {{ pedido.quantidade3 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 3:</strong></label>
        {{ pedido.marca3 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 4:</strong></label>
        {{ pedido.produto4 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 4:</strong></label>
        {{ pedido.categoria4 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 4:</strong></label>
        {{ pedido.valor_base4 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 4:</strong></label>
        {{ pedido.unidade_medida4 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 4:</strong></label>
        {{ pedido.quantidade4 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 4:</strong></label>
        {{ pedido.marca4 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 5:</strong></label>
        {{ pedido.produto5 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 5:</strong></label>
        {{ pedido.categoria5 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 5:</strong></label>
        {{ pedido.valor_base5 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 5:</strong></label>
        {{ pedido.unidade_medida5 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 5:</strong></label>
        {{ pedido.quantidade5 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 5:</strong></label>
        {{ pedido.marca5 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 6:</strong></label>
        {{ pedido.produto6 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 6:</strong></label>
        {{ pedido.categoria6 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 6:</strong></label>
        {{ pedido.valor_base6 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 6:</strong></label>
        {{ pedido.unidade_medida6 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 6:</strong></label>
        {{ pedido.quantidade6 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 6:</strong></label>
        {{ pedido.marca6 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 7:</strong></label>
        {{ pedido.produto7 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 7:</strong></label>
        {{ pedido.categoria7 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 7:</strong></label>
        {{ pedido.valor_base7 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 7:</strong></label>
        {{ pedido.unidade_medida7 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 7:</strong></label>
        {{ pedido.quantidade7 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 7:</strong></label>
        {{ pedido.marca7 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 8:</strong></label>
        {{ pedido.produto8 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 8:</strong></label>
        {{ pedido.categoria8 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 8:</strong></label>
        {{ pedido.valor_base8 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 8:</strong></label>
        {{ pedido.unidade_medida8 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 8:</strong></label>
        {{ pedido.quantidade8 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 8:</strong></label>
        {{ pedido.marca8 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 9:</strong></label>
        {{ pedido.produto9 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 9:</strong></label>
        {{ pedido.categoria9 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 9:</strong></label>
        {{ pedido.valor_base9 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 9:</strong></label>
        {{ pedido.unidade_medida9 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 9:</strong></label>
        {{ pedido.quantidade9 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 9:</strong></label>
        {{ pedido.marca9 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 10:</strong></label>
        {{ pedido.produto10 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 10:</strong></label>
        {{ pedido.categoria10 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 10:</strong></label>
        {{ pedido.valor_base10 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 10:</strong></label>
        {{ pedido.unidade_medida10 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 10:</strong></label>
        {{ pedido.quantidade10 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 10:</strong></label>
        {{ pedido.marca10 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 11:</strong></label>
        {{ pedido.produto11 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 11:</strong></label>
        {{ pedido.categoria11 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 11:</strong></label>
        {{ pedido.valor_base11 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 11:</strong></label>
        {{ pedido.unidade_medida11 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 11:</strong></label>
        {{ pedido.quantidade11 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 11:</strong></label>
        {{ pedido.marca11 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 12:</strong></label>
        {{ pedido.produto12 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 12:</strong></label>
        {{ pedido.categoria12 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 12:</strong></label>
        {{ pedido.valor_base12 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 12:</strong></label>
        {{ pedido.unidade_medida12 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 12:</strong></label>
        {{ pedido.quantidade12 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 12:</strong></label>
        {{ pedido.marca12 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 13:</strong></label>
        {{ pedido.produto13 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 13:</strong></label>
        {{ pedido.categoria13 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 13:</strong></label>
        {{ pedido.valor_base13 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 13:</strong></label>
        {{ pedido.unidade_medida13 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 13:</strong></label>
        {{ pedido.quantidade13 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 13:</strong></label>
        {{ pedido.marca13 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 14:</strong></label>
        {{ pedido.produto14 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 14:</strong></label>
        {{ pedido.categoria14 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 14:</strong></label>
        {{ pedido.valor_base14 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 14:</strong></label>
        {{ pedido.unidade_medida14 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 14:</strong></label>
        {{ pedido.quantidade14 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 14:</strong></label>
        {{ pedido.marca14 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 15:</strong></label>
        {{ pedido.produto15 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 15:</strong></label>
        {{ pedido.categoria15 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 15:</strong></label>
        {{ pedido.valor_base15 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 15:</strong></label>
        {{ pedido.unidade_medida15 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 15:</strong></label>
        {{ pedido.quantidade15 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 15:</strong></label>
        {{ pedido.marca15 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 16:</strong></label>
        {{ pedido.produto16 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 16:</strong></label>
        {{ pedido.categoria16 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 16:</strong></label>
        {{ pedido.valor_base16 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 16:</strong></label>
        {{ pedido.unidade_medida16 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 16:</strong></label>
        {{ pedido.quantidade16 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 16:</strong></label>
        {{ pedido.marca16 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 17:</strong></label>
        {{ pedido.produto17 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 17:</strong></label>
        {{ pedido.categoria17 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 17:</strong></label>
        {{ pedido.valor_base17 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 17:</strong></label>
        {{ pedido.unidade_medida17 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 17:</strong></label>
        {{ pedido.quantidade17 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 17:</strong></label>
        {{ pedido.marca17 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 18:</strong></label>
        {{ pedido.produto18 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 18:</strong></label>
        {{ pedido.categoria18 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 18:</strong></label>
        {{ pedido.valor_base18 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 18:</strong></label>
        {{ pedido.unidade_medida18 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 18:</strong></label>
        {{ pedido.quantidade18 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 18:</strong></label>
        {{ pedido.marca18 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 19:</strong></label>
        {{ pedido.produto19 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 19:</strong></label>
        {{ pedido.categoria19 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 19:</strong></label>
        {{ pedido.valor_base19 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 19:</strong></label>
        {{ pedido.unidade_medida19 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 19:</strong></label>
        {{ pedido.quantidade19 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 19:</strong></label>
        {{ pedido.marca19 }}
        </div>

        <div class="form-group col-md-4">
            <label for="id_email"><strong>Produto 20:</strong></label>
        {{ pedido.produto20 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Categoria 20:</strong></label>
        {{ pedido.categoria20 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Valor Base 20:</strong></label>
        {{ pedido.valor_base20 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Unidade de Medida 20:</strong></label>
        {{ pedido.unidade_medida20 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>Quantidade 20:</strong></label>
        {{ pedido.quantidade20 }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_email"><strong>marca 20:</strong></label>
        {{ pedido.marca20 }}
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}