{% extends "pagina-modelo.html" %}
{% block content %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/fornecedor.css">
{% endblock %}

<h1 class="text-center">Detalhes dos Produtos Cotados</h1>
<div class="container ">
    <hr>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label><strong>Nº Leilão:</strong></label>
            {{ pedido.n_leilao }}
        </div>
        <div class="form-group col-md-5">
            <label><strong>Fornecedor:</strong></label>
            {{ pedido.fornecedor }}
        </div>
        <div class="form-group col-md-3">
            <label><strong>Observação 1:</strong></label>
            {{ pedido.observacao_1 }}
        </div>
        <div class="form-group col-md-3">
            <label><strong>Observação 2:</strong></label>
            {{ pedido.observacao_2 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 3:</strong></label>
            {{ pedido.observacao_3 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 4:</strong></label>
            {{ pedido.observacao_4 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 5:</strong></label>
            {{ pedido.observacao_5 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 6:</strong></label>
            {{ pedido.observacao_6 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 7:</strong></label>
            {{ pedido.observacao_7 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 8:</strong></label>
            {{ pedido.observacao_8 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 9:</strong></label>
            {{ pedido.observacao_9 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 10:</strong></label>
            {{ pedido.observacao_10 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 11:</strong></label>
            {{ pedido.observacao_11 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 12:</strong></label>
            {{ pedido.observacao_12 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 13:</strong></label>
            {{ pedido.observacao_13 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 14:</strong></label>
            {{ pedido.observacao_14 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 15:</strong></label>
            {{ pedido.observacao_15 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 16:</strong></label>
            {{ pedido.observacao_16 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 17:</strong></label>
            {{ pedido.observacao_17 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 18:</strong></label>
            {{ pedido.observacao_18 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 19:</strong></label>
            {{ pedido.observacao_19 }}
        </div>

        <div class="form-group col-md-3">
            <label><strong>Observação 20:</strong></label>
            {{ pedido.observacao_20 }}
        </div>

</div>
</div>
</div>
</div>
{% endblock %}