{% extends "pagina-modelo.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-8 offset-xl-2 py-5">
            <h1>Pedido de cotação criado!</h1>
            <h3>Envie o email aos seus fornedores.</h3>

            <form id="contact-form" action="{% url 'send_email' %}" role="form">
                {% csrf_token %}
                <div class="controls">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_email">Email:</label>
                                <input type="text" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_message">Corpo da Mensagem:</label>
                                
                                <textarea id="form_message" name="mensagem" class="form-control"
                                    placeholder="Message for me *" rows="4" required="required"
                                    data-error="Please, leave us a message.">
{% for p in pedido %}{{ p.id }}, {{ p.nome}}, {{ p.razao_social }}, {{ p.cnpj }}, {{ p.plano }},{{ p.cep }}, {{ p.rua }}, {{ p.bairro }}, {{ p.cidade }}, {{ p.numero }}, {{ p.telefone }}, {{ p.celular }}, {{ p.email }}, {{ p.produto1 }},{{ p.categoria1 }}, {{ p.valor_base1 }}, {{ p.unidade_medida1 }}, {{ p.quantidade1 }}, {{ p.marca1 }} ;
{% endfor %}
                                    </textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success btn-send" value="Enviar">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}