{% extends "pagina-modelo.html" %}
{% block content %}

<div class="conteudo">
    <div class="container">
        <div class="row w-100">
            <a  class="nav-link ml-4" href="/cadastrar_fornecedor/"><button type="button" class="btn btn-info">Cadastro de Fornecedor</button></a>
        </div>
    </div>
    <h1 class="text-center "><u>Lista de Fornecedores</u></h1>
    
    <div class="container">
        <div class="row w-100">
            <div class="col border bg-light" ><strong>FORNECEDOR</strong></div>
            <div class="col border bg-light"><strong>CATEGORIA</strong></div>
            <div class="col border bg-light"><strong>CNPJ</strong></div>
        </div>
    {% for fornecedor in fornecedores %}
        <div class="container">
            <div class="row w-100">
                <div class="col border-bottom-3 bg-light" ><a href="/fornecedor_detalhar/{{fornecedor.id}}">{{ fornecedor.fornecedor}}</a></div>
                <div class="col border-bottom-0 bg-light" ><a href="/fornecedor_detalhar/{{fornecedor.id}}">{{ fornecedor.categoria}}</a></div>
                <div class="col border-bottom-0 bg-light" ><a href="/fornecedor_detalhar/{{fornecedor.id}}">{{ fornecedor.cnpj}}</a></div>
            
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}