{% extends "pagina-modelo.html" %}
{% block content %}
<div class="conteudo">        
    <div class="container">
        <h1 class="text-center "><u>Filtro de Pesquisa</u></h1>
        <form method="GET" action="#">
            <div class="form-row">
              <div class="form-group col-md-2 col-lg-2">
                <label for="leilao"><strong>Nº Leilão</strong></label>
                <input type="text" class="form-control" id="n_leilao" name="n_leilao" placeholder="Nº Leilão">
              </div>
              <div class="form-group col-md-2 col-lg-2">
                  <label for="nome"><strong>Cliente</strong></label>
                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Cliente">
              </div>
              <button type="submit" class="btn btn-primary  mt-4 mb-3">Filtrar</button>
            </div>
      </form>
      <h1 class="text-center "><u>Lista de Salas de leilão</u></h1>
        <div class="row w-100">
            <div class="col border bg-light" ><strong>Nº Leilão</strong></div>
            <div class="col border bg-light"><strong>Cliente</strong></div>
            <div class="col border bg-light"><strong>Data</strong></div>

        </div>
    {% for item in pedido %}
        <div class="container">
            <div class="row w-100">
                <div class="col border-bottom-3 bg-light" ><a onclick="limpar_campos()" href="/detalhar_pedido_da_sala_de_leilao/{{item.id}}">{{ item.n_leilao }}</a></div>
                <div class="col border-bottom-0 bg-light" ><a onclick="limpar_campos()" href="/detalhar_pedido_da_sala_de_leilao/{{item.id}}">{{ item.nome }}</a></div>
                <div class="col border-bottom-0 bg-light" ><a onclick="limpar_campos()" href="/detalhar_pedido_da_sala_de_leilao/{{item.id}}">{{ item.data_agora.date }}</a></div>
            
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}