{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Plataforma de orçamento online - Cotebiz</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST" action="submit" >{% csrf_token %}
					
					<span class="login100-form-title p-b-43">
						Login
					</span>
					
					{% load static %}
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="usuario" id="usuario" placeholder="Usuario">
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="senha" id="senha" placeholder="Senha">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<!---<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>-->

						<div>
							<a href="esqueci.html" class="txt1">
								Esqueceu a login/senha?
							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						{% for message in messages %}
						<div class="alert alert-danger">
							<strong>Error!</strong> {{ message }}
						</div>
						{% endfor %}
						<button class="login100-form-btn"  type="submit">
							Entrar
						</button>
					</div>
					
				</form>

				<div class="login100-more" style="background-image: url({% static "\imagens\grupo3.png" %});">
				</div>
			</div>
		</div>
	</div>
</body>
</html>