{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plataforma de orçamento online - Cotebiz </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
              crossorigin="anonymous">
        <link rel="shortcut icon" href="{% static 'icones/cotebiz.ico' %}">
        <link rel="stylesheet" href="{% static 'css/site.css' %}">
        {% block style %}{% endblock %}
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="logo a navbar-brand" href="/">cote<span class="logo b">biz</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a onclick=limpar_campos() class="excluir nav-item nav-link" href="/listar_fornecedores/">Fornecedores</a>
                    <a class="excluir nav-item nav-link" href="/listar_pedidos/">Pedidos</a>
                    <a class="retirando nav-item nav-link" href="/listar_salas_de_leilao/">Leilão</a>
                    <a class="excluir nav-item nav-link" href="/listar_produtos_cotados/">Histórico de leilão</a>
                    <div class="dropdown logon">
                        <button class="user btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.get_username }}</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">
                                <a class="sair" href="/logout/">Sair</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div> 
        </nav>
    </header> 
<body>
    {% block content %}{% endblock %}  <!--Bloco do conteudo-->
    <script src="/static/js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/static/js/mascara.js"></script>
    <script type="text/javascript" src="/static/js/cep.js"></script>
    <script type="text/javascript" src="/static/js/fechar_janela.js"></script>
    <script type="text/javascript" src="/static/js/salvar_automatico.js"></script>
    <script type="text/javascript" src="/static/js/remover_automatico.js"></script>
    <script type="text/javascript" src="/static/js/adicionar_campos.js"></script>
    <script type="text/javascript" src="/static/js/sala_de_leilao.js"></script>
    <script type="text/javascript" src="/static/js/numero_do_pedido_aleatorio.js"></script>
    <script type="text/javascript" src="/static/js/detalhar_pedido_esconde.js"></script>
    <script type="text/javascript" src="/static/js/esconde_campo_usuario.js"></script>
</body>
</html>