{% extends "pagina-modelo.html" %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/pedido.css" >
{% endblock %}
{% block content %}

    <h1 class="text-center ">Cadastro de  Pedido</h1>
    <div class="container">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputNome">Nome Completo</label>
            <input type="text" class="form-control" id="inputNome">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="inputRazaoSocial">Razão Social</label>
                <input type="text" class="form-control" id="inputRazaoSocial">
            </div>
            <div class="form-group col-md-5">
                <label for="inputCnpj">CNPJ</label>
                <input type="text" class="form-control" id="inputCnpj">
            </div>
            <div class="form-group col-md-2">
                <label for="inputTipoPlano">Tipo do Plano</label>
                <select id="inputState" class="form-control">
                    <option selected>...</option>
                    <option>P</option>
                    <option>M</option>
                    <option>G</option>
                </select>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCep">CEP</label>
                <input type="text" class="form-control" id="inputCep" placeholder="16540 321">
            </div>
            <div class="form-group col-md-6">
                <label for="inputRua">Rua</label>
                <input type="text" class="form-control" id="inputRua" >
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputNumero">Nº</label>
                <input type="text" class="form-control" id="inputNumero">
            </div>
            <div class="form-group col-md-5">
                <label for="inputBairro">Bairro</label>
                <input type="text" class="form-control" id="inputBairro">
            </div>
            <div class="form-group col-md-5">
                <label for="inputCidade">Cidade</label>
                <input type="text" class="form-control" id="inputCidade">
            </div>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="container ">
        <div class="botao">
            {% for message in messages %}
                <div class="alert alert-danger">
                    <strong> {{ message }} </strong>
                </div>
            {% endfor %}
        </div>
        <div class="form-row align-middle" align="center">
            <div class="col-md-12">
                <label for="candidate" class="col-md-6">Produto:</label>
                <input type="text" class="form-control col-md-6" id="candidate" required>
                <button class="btn btn-outline-primary col-md-6" id="btn" type="button">
                    <img src="/static/imagens/addprod.png" alt="add" width="2rem">
                </button>
            </div>
        </div>
          
        <hr>
        <div align="center" class="form-row bg-light" >
            <div class="form-group col-md-3"  style="padding-right: 20px; padding-left: 20px;">
                <label for="id_produto"><strong>Produto</strong></label>

            </div>
            <div class="space form-group col-md-2">
                <label for="id_valor_base"><strong>Categoria</strong></label>

            </div>
            <div class="space form-group col-md-2"  id="valor"  >
                <label for="id_valor_base"><strong>Valor Base</strong></label>

            </div>
            <div class="space form-group col-md-2"  >
                <label for="id_unidade_de_medida"><strong>Unidade de Medida</strong></label>

            </div>
            <div class="space form-group col-md-2"  >
                <label for="id_marca"><strong>Marca</strong></label>

            </div>
        </div>
        <div class="form-row bg-light" >
            <div class="form-group col-md-3"  style="padding-right: 20px; padding-left: 20px;">
                <ul class="remove form-row dynamic-list" id="dynamic-list">
                    
                </ul>
            </div>
            <div class="space form-group col-md-2">
                <ul class="remove form-row categoria"  id="categoria">

                </ul>
            </div>
            <div class="space form-group col-md-2"  id="valor"  >
                <ul class="remove form-row valor-base"  id="valor-base">

                </ul>
            </div>
            <div class="space form-group col-md-2"  >
                <ul class="remove form-row unidade-medida" id="unidade-medida">

                </ul>
            </div>
            <div class="space form-group col-md-2"  >
                <ul class="remove form-row marca" id="marca">

                </ul>
            </div>
            <div class="space form-group col-md-1"  align="center">
                <ul class="remove form-row excluir" id="excluir">

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <button  class="btn btn-primary m-2" type="submit">Salvar</button>
            
                <a href="/listar_fornecedores/">
                    <button type="button" class="btn btn-danger m-2">
                        Cancelar
                    </button>
                </a>
            </div>
        </div>

</div>
{% endblock %}