	div.titulo{
		height: 5vh !important;
		margin: 15px;
}
span{
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: 1px 1px 8px rgba(150, 150, 150, 0.40);
	color: #777778;
	text-align: center;
}
.col-2{
	padding-right: 0px;
	border-radius: none;
}
.col-2, a.list-group-item{
	background-color: #f7f8f9;
}

.list-group-item.active{
	background-color: #767777;
	border-color: #767777;
}

.list-group-item{
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.125);
}
