#menu a {
    color: white;
    background-color: #252525;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  
  
  #menu a:hover {
    color:gray;
    background-color: #252525;
  }
  
  .container{
      padding: 5px;
      width: 100%;
  }
  .logo-container .logo{
    overflow: hidden;
    border: 0px solid #333333;
    width: 60px;
    float: left;
}

.logo-container .brand{
    font-size: 16px;
    color: #0678a8;
    line-height: 20px;
    float: left;
    width: 125px;
    height: 50px;
    
}
.brand{
  background: #CACACA;
  border-radius: 5px 50px 50px 5px;
  padding: 3px;
}
.face{
  background: #CACACA;
  border-radius: 50px 5px 5px 50px;
  height: 50px;
}
  
.logo-container{
    margin-top: 10px;
}
.logo-container .logo img{
    width: 100%;
}
