body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

/* 	NAV */

a{
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 1px 1px 8px rgba(150, 150, 150, 0.40);
}

h1{
  color:#0678a8
}

span.b{
  color: #0678a8;
}

.navbar-light .navbar-brand{
  color: rgba(150, 150, 150, 0.40);
}

.navbar-nav{
  width: 100%;
}

a.logon{
  border-radius: 100px;
  font-size: 12px;
  padding: 0px;
  text-align: center;
  background-color: #0678a8;
}

a.logon span{
  display: flex;
}

div.logon{
  margin-left: auto;
}

.dropdown-menu{
  min-width: 5rem;
  padding:.1rem 0;
  background-color: #545b62;
}

button{
  text-transform: uppercase;
}

.dropdown-menu :hover{
  background-color: #545b62;
}

div.dropdown-menu.show{
  width: 6rem;
}
a.sair{
  color: #FFFFFF;
  font-weight: 500;
}

img{
  width: 18px;
}

@media only screen and (max-width: 992px) {
  div.logon{
    margin-left: 0px;
  }
  div.dropdown-menu.show{
    width: 6rem;
  }
}
.hidden{
	display: none !important;
}