{% extends "pagina-modelo.html" %}

{% block content %}
<h1 class="text-left ">Atualizar dados do Fornecedor</h1>
<form method="POST">{% csrf_token %}
    <div class="container ml-0 ">
        <div>
            <label for="id_fornecedor"><strong>Fornecedor:</strong></label>
            {{ form.fornecedor }}
        </div>
        <div>
            <label for="id_razao_social"><strong>Razão Social:</strong></label>
            {{ form.razao_social }}
        <div>
            <label for="id_cnpj"><strong>CNPJ:</strong></label>
            {{ form.cnpj }}
        <div>
            <label for="id_inscricao_estadual"><strong>I.E.:</strong></label>
            {{ form.inscricao_estadual }}
        </div>
        <div id="div-categoria">
            <label for="id_categoria"><strong>Categoria:</strong></label>
            {{ form.categoria }} 
        </div>
        <div>
            <label for="id_cep"><strong>CEP:</strong></label>
            {{ form.cep }}
        </div>
        <div>
            <label for="id_rua"><strong>Rua:</strong></label>
            {{ form.rua }}
        </div>
        <div>
            <label for="id_bairro"><strong>Bairro:</strong></label>
            {{ form.bairro }}
        </div>
        <div>
            <label for="id_cidade"><strong>Cidade:</strong></label>
            {{ form.cidade }}
        </div>
        <div>
            <label for="id_uf"><strong>UF:</strong></label>
            {{ form.uf }}
        </div>
        <div>
            <label for="id_numero"><strong>Número:</strong></label>
            {{ form.numero }}
        </div>

        <div>
            <label for="id_telefone"><strong>Telefone:</strong></label>
            {{ form.telefone }}
        </div>
        <div>
            <label for="id_celular"><strong>Celular:</strong></label>
            {{ form.celular }}
        </div>
        <div>
            <label for="id_email"><strong>Email:</strong></label>
            {{ form.email }}
        </div>
        <div>
            <label for="id_observacao"><strong>Observação:</strong></label>
            {{ form.observacao }}
        </div>
        <a href="/listar_fornecedores/"></a>
            <button type="submit" class="btn btn-primary m-2">
                Salvar
            </button>
        </a>
        <a href="/listar_fornecedores/">
            <button type="button" class="btn btn-danger m-2">
             Cancelar
            </button>
        </a>
    </div>
</form>
{% endblock %}
