{% extends "pagina-modelo.html" %}

{% block content %}

<h1 class="text-center">Detalhes do fornecedor</h1>
<div class="modal fade" id="modal_confirm">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deseja realmente Excluir O fornecedor selecionado: {{fornecedor.fornecedor}}?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-right">
                <a href="/delete/{{fornecedor.id}}/">
                    <button type="button" class="btn btn-danger">
                        EXCLUIR
                    </button>
                </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        CANCELAR
                    </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col">
        <div class="text-left">
                <p><Strong><label>Nome: </label></Strong>{{ fornecedor.fornecedor }}</p>
                <p><Strong><label>Razão Social: </label></Strong>{{ fornecedor.razao_social }}</p>
                <p><Strong><label>CNPJ: </label></Strong>{{ fornecedor.cnpj }}</p>
                <p><Strong><label>Inscricao: </label></Strong>{{ fornecedor.inscricao_estadual }}</p>
                <p><Strong><label>Categoria: </label></Strong>{{ fornecedor.categoria }}</p>
                <p><Strong><label>CEP: </label></Strong>{{ fornecedor.cep }}</p>
                <p><Strong><label>Rua: </label></Strong>{{ fornecedor.rua }}</p>
                <p><Strong><label>bairro: </label></Strong>{{ fornecedor.bairro }}</p>
                <p><Strong><label>Cidade: </label></Strong>{{ fornecedor.cidade }}</p>
                <p><Strong><label>UF: </label></Strong>{{ fornecedor.uf }}</p>
                <p><Strong><label>Número: </label></Strong>{{ fornecedor.numero }}</p>
                <p><Strong><label>Telefone: </label></Strong>{{ fornecedor.telefone }}</p>
                <p><Strong><label>Celular: </label></Strong>{{ fornecedor.celular }}</p>
                <p><Strong><label>Email: </label></Strong>{{ fornecedor.email }}</p>
                <p><Strong><label>Observacao: </label></Strong>{{ fornecedor.observacao}}</p>
                
                <a href="/atualizar_fornecedor/{{fornecedor.id}}">
                    <button type="button" class="btn btn-primary"> Alterar</button>
                </a>
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#modal_confirm">Excluir</button>
        </div>
    </div>
</div>
{% endblock %}