<!DOCTYPE html> 
<html>

<head> 
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/icones/cotebiz.ico" type="image/x-icon"> 
	<title> 
	Plataforma de orçamento online - Cotebiz
	</title>
	<link rel="stylesheet" href="/static/css/login.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
	<main> 
        <form class="formulario-login" method="POST" action="submit"> {% csrf_token %}
			<div class="container align-items-center h-100">
				{% load static %}
				<img src="{% static "\logo\cotebiz.png" %}" alt="Cotebiz" >
				<div class="formulario-item">
					<label for="usuario">Login:</label>
					<input type="text" name="usuario" id="usuario" autofocus required/>
				</div>
				<div class="formulario-item">
					<label for="senha">Senha:</label>
					<input type="password" name="senha" id="senha" required/>
				</div>

				<div class="botao">
					{% for message in messages %}
						<div class="alert alert-danger">
							<strong>Error!</strong> {{ message }}
						</div>
					{% endfor %}
					<button class="btn btn-primary" type="submit">Entrar</button>
				</div>
				<div class="back">
					<a href="esqueci.html" class="esqueci">Esqueceu login/senha?</a>
				</div>
            </div>
		</form>
	</main>
</body>
</html>